body {
    background-color:none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:grey ;

  } 
  h1 {
    color:rgb(99, 98, 98);
    text-align:center;
     
    }
  div { background-color: rgb(172, 215, 201);
    width: fit-content;
    padding: 50px;
    margin: auto;
    box-shadow:none;
  }
    #Login {
  box-shadow:6px 6px 30px 10px;
    
}
.btn {
  padding-top: 1px;
  text-shadow:2px 2px 5px 5px ;
}
  
.s2 {
  padding-top: 0px;

}
  
  
